<div class="add-widget" data-block-id data-note-id>
  <div class="container">
    <!-- close button -->
    <i class="fas fa-times close"></i>
    <div class="colors-options">
      <span class="color yellow" data-color="#FFE079"></span>
      <span class="color green" data-color="#3FB8AF"></span>
      <span class="color blue" data-color="#adcbe7"></span>
      <span class="color pink" data-color="#eaa1cc"></span>
      <span class="color orange" data-color="#F28F52"></span>
    </div>
    <!-- store sticky-note data -->
    <textarea data-color="#FFE079"
              data-block-id=""
              data-author=""
              data-post-it=""
              class="post-it"
              placeholder="write your note"></textarea>

    <div class="details">
      <span href="#" class="fas fa-trash remove"></span>
      created by
        <span class="author"></span> em
        <span class="created-at"></span>
      <br>
      last modified in 
      <span class="last-modified"></span>
    </div>
  </div>
</div>

<article class="business-model-canvas">
  <!-- alert operations made -->
  <div class="alert alert-success">
    <i href="#" class="close fas fa-times" data-dismiss="alert" aria-label="close"></i>
    <p class="text"></p>
  </div>
  <div class="upper-column">
    <div class="canvas-column canvas-element" data-id="1">
      <h1>Key Partners <i class="fas fa-link"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
    <div class="canvas-column">
      <div class="canvas-element" data-id="2">
        <h1>Key Activities <i class="fas fa-check"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
      <div class="canvas-element" data-id="3">
        <h1>Key Resources <i class="fas fa-puzzle-piece"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
    </div>
    <div class="canvas-column canvas-element" data-id="4">
      <h1>Value Propositions <i class="fas fa-gift"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
    <div class="canvas-column">
      <div class="canvas-element" data-id="5">
        <h1>Customer Relationships <i class="fas fa-heart" aria-hidden="true"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
      <div class="canvas-element" data-id="6">
        <h1>Channels <i class="fas fa-truck"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
    </div>
    <div class="canvas-column canvas-element" data-id="7">
      <h1>Customer Segments <i class="fas fa-users"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
  </div>
  <div class="bottom-column">
    <div class="canvas-column canvas-element" data-id="8">
      <h1>Cost Structure <i class="fas fa-tags"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
    <div class="canvas-column canvas-element" data-id="9">
      <h1>Revenue Streams <i class="fas fa-money-bill-alt"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
  </div>
</article>
