<!-- <link rel="stylesheet" href="../stylesheets/css/app.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<div class="add-widget" data-block-id>
  <div class="container">
    <textarea class="post-it" placeholder="escreva suas anotações"></textarea>
  </div>
</div>
<article class="business-model-canvas">
  <div class="upper-column">
    <div class="canvas-column canvas-element" data-id="1">
      <h1>Parcerias Chaves <i class="fas fa-link"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
    <div class="canvas-column">
      <div class="canvas-element" data-id="2">
        <h1>Atividades Chave <i class="fas fa-check"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
      <div class="canvas-element" data-id="3">
        <h1>Recursos Chave <i class="fas fa-puzzle-piece"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
    </div>
    <div class="canvas-column canvas-element" data-id="4">
      <h1>Proposta de Valor <i class="fas fa-gift"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
    <div class="canvas-column">
      <div class="canvas-element" data-id="5">
        <h1>Relação com o Cliente <i class="fas fa-heart" aria-hidden="true"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
      <div class="canvas-element" data-id="6">
        <h1>Canais <i class="fas fa-truck"></i></h1>
        <div class="canvas-body-element">
        </div>
      </div>
    </div>
    <div class="canvas-column canvas-element" data-id="7">
      <h1>Segmentos de Mercado <i class="fas fa-users"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
  </div>
  <div class="bottom-column">
    <div class="canvas-column canvas-element" data-id="8">
      <h1>Estrutura de Custos <i class="fas fa-tags"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
    <div class="canvas-column canvas-element" data-id="9">
      <h1>Fontes de Renda <i class="fas fa-money-bill-alt"></i></h1>
      <div class="canvas-body-element">
      </div>
    </div>
  </div>
</article>
