<link rel="stylesheet" type="text/css" href="../stylesheets/css/app.css">
<article class="business-model-canvas">
  <div class="canvas-column canvas-element">
    <h1>Parcerias Chaves </h1>
    <div class="canvas-body-element">
    </div>
    <div class="canvas-element-add-button">
      <button type="button"></button>
    </div>
  </div>
  <div class="canvas-column">
    <div class="canvas-element">
      <h1>Atividades Chave</h1>
      <div class="canvas-body-element">
      </div>
      <div class="canvas-element-add-button">
        <button type="button">Adicionar Post-it</button>
      </div>
    </div>
    <div class="canvas-element">
      <h1>Recursos Chave</h1>
      <div class="canvas-body-element">
      </div>
      <div class="canvas-element-add-button">
        <button type="button"></button>
      </div>
    </div>
  </div>
  <div class="canvas-column canvas-element">
    <h1>Proposta de Valor</h1>
    <div class="canvas-body-element">
    </div>
    <div class="canvas-element-add-button">
      <button type="button"></button>
    </div>
  </div>
  <div class="canvas-column">
    <div class="canvas-element">
      <h1>Relação com o Cliente <i class="fa fa-heart-o" aria-hidden="true"></i></h1>
      <div class="canvas-body-element">
        <i class="fa fa-camera-retro"></i>
      </div>
      <div class="canvas-element-add-button">
        <button type="button"></button>
      </div>
    </div>
    <div class="canvas-element">
      <h1>Canais</h1>
      <div class="canvas-body-element">
      </div>
      <div class="canvas-element-add-button">
        <button type="button"></button>
      </div>
    </div>
  </div>
  <div class="canvas-column canvas-element">
    <h1>Segmentos de Mercado</h1>
    <div class="canvas-body-element">
    </div>
    <div class="canvas-element-add-button">
      <button type="button"></button>
    </div>
  </div>
  <div class="canvas-column">
    <div class="canvas-element">
      <h1>Estrutura de Custos</h1>
      <div class="canvas-body-element">
      </div>
      <div class="canvas-element-add-button">
        <button type="button"></button>
      </div>
    </div>
    <div class="canvas-element">
      <h1>Fontes de Renda</h1>
      <div class="canvas-body-element">
      </div>
      <div class="canvas-element-add-button">
        <button type="button"></button>
      </div>
    </div>
  </div>


</article>
