@charset "UTF-8";
/**
  * Arquivo de boot da arquitetura SASS
  *
  * Toda a arquitetura do projeto sass começa por esse arquivo. Sua função
  * consiste em importar os frameworks e bibliotecas necessários para o
  * desenvolvimento do projeto e também realiza qualquer configuração necessária
  * além de importar a arquitetura do projeto
  *
  */
@import "http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css";
/*!
 * Arquivo partial sass que coleta todos os componentes da estrutura
 * responsável por estilos de terceiros
 *
 */
@import "https://use.fontawesome.com/releases/v5.0.2/css/all.css";
@import "https://fonts.googleapis.com/css?family=Mukta+Vaani:400,500,700";
.business-model-canvas .canvas-element .post-it, .add-widget .container textarea.post-it {
  border-radius: 5px;
  padding: 0.375rem;
  margin: 0.375rem; }

html {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Mukta Vaani", Verdana;
  box-sizing: border-box; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.business-model-canvas {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem;
  background: #ededed;
  height: 100%;
  width: 100%; }
  .business-model-canvas:after {
    content: " ";
    display: block;
    clear: both; }
  .business-model-canvas > .upper-column, .business-model-canvas .bottom-column {
    clear: both;
    width: 99.4117647059%;
    float: left;
    margin-left: 0.2941176471%;
    margin-right: 0.2941176471%; }
    .business-model-canvas > .upper-column > .canvas-column, .business-model-canvas .bottom-column > .canvas-column {
      height: 100%; }
  .business-model-canvas .upper-column {
    margin-bottom: 0.9803921569%;
    height: 69.0196078431%; }
    .business-model-canvas .upper-column > .canvas-column {
      width: 19.4117647059%;
      float: left;
      margin-left: 0.2941176471%;
      margin-right: 0.2941176471%; }
      .business-model-canvas .upper-column > .canvas-column > .canvas-element {
        height: 50%; }
        .business-model-canvas .upper-column > .canvas-column > .canvas-element:first-child {
          margin-bottom: 2.9411764706%;
          height: 48.5294117647%; }
  .business-model-canvas .bottom-column {
    height: 30%; }
    .business-model-canvas .bottom-column > .canvas-column {
      width: 49.4117647059%;
      float: left;
      margin-left: 0.2941176471%;
      margin-right: 0.2941176471%; }
  .business-model-canvas .canvas-element {
    background: rgba(45, 185, 230, 0.87);
    border-radius: 5px;
    padding: 0rem 0.375rem;
    overflow: auto; }
    .business-model-canvas .canvas-element:hover {
      background: #2db9e6;
      cursor: pointer; }
    .business-model-canvas .canvas-element h1 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0.75rem 0rem;
      margin-right: 1.5rem;
      position: relative; }
      @media (min-width: 1600px) {
        .business-model-canvas .canvas-element h1 {
          font-size: 1.618034rem;
          line-height: 3rem; } }
      .business-model-canvas .canvas-element h1 .fas {
        font-size: 1rem;
        line-height: 1.5rem;
        position: absolute;
        top: 0;
        right: -1.5rem; }
    .business-model-canvas .canvas-element .post-it {
      font-size: 1rem;
      line-height: 1.5rem;
      background: #FFE079; }

.add-widget {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none; }
  .add-widget .container {
    margin: 0 auto;
    width: 20%;
    margin-top: 10%; }
    .add-widget .container textarea.post-it {
      font-size: 1rem;
      line-height: 1.5rem;
      background: #FFE079;
      height: 9rem;
      width: 100%;
      border: none;
      display: block;
      outline: none; }

/*!
 * Arquivo partial sass que coleta todos os componentes da estrutura
 * responsável por estilos para diferentes temas
 *
 */
/*!
 * Arquivo partial sass que coleta todos os componentes da estrutura
 * responsável por estilos de página específica
 *
 */

/*# sourceMappingURL=app.css.map */
