//
// Componente de widget que faz adicionar novos post-its
//
//

$bg-color: get-color('background', 7, disabled);

.add-widget {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $bg-color;
  z-index: 2000;
  display: none;

  .container {
    margin: 0 auto;
    width: 40%;
    margin-top: 10%;
    position: relative;

    // post-it's
    textarea.post-it {
      @include apply-post-it;
      height: line-rhythm(10);
      width: 100%;
      border: none;
      display: block;
      outline: none;
    }

    // detalhes sobre autor e datas de criação e modificação
    .details {
      @include adjust-font-size(ms(-1));
      @include padding-vr(.5);
      color: get-color('background', 1);
      text-align: right;
      display: none;

      > .author {
        @include margin-vr(0 1/4);
        padding: 3px;
        background: get-color('background', 9);
      }
    }

    // opções de cores
    .colors-options {
      position: absolute;
      top: line-rhythm(1);
      left: line-rhythm(1/3);

      > .color {
        @include vertical-rhythm($scale: 1.2, $use-height: true);
        border-radius: 100%;
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
        border: 2px solid transparent;
        background: black;

        &.yellow { background: #fee079 }
        &.green { background: #C4EFE4 }
        &.blue { background: #adcbe7 }
        &.pink { background: #eaa1cc }
        &.orange { background: #F28F52 }

        &.selected, &:hover {
          border: 2px solid white;
        }

      }
    }
  }

  // botão de fechar o widget
  .close {
    @include adjust-font-size(ms(1));
    color: get-color('background');
    float: right;
    margin-bottom: line-rhythm(1);
  }
}
