//
// Componente de alerta de mensagens
//

// bloco estrutural do alerta, que todos os alertas devem possuir
%alert {
  @include padding-vr(.5);
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  width: 60%;
  left: 20%;
  z-index: 1999;
  display: none;

  > .close {
    @include adjust-font-size;
    float: right;
  }
}

// aplica estilos a um elemento de alerta definindo o tipo do alerta e sua cor
@mixin apply-alert($color: alert,  $type: success) {
  @extend %alert;

  &-#{$type} {
    color: get-color($color, 9);
    background-color: get-color($color);
    border-color: get-color($color, -3);
  }
}

.alert {
  @include apply-alert;
}
