///
// Componente Business Model Canvas define os estilos que deine um painel
// de modelo de negócios
//
//
//
///

@include type-setting;

@include with-layout (10) {
  .business-model-canvas {
    @include container;
    @include adjust-font-size;
    @include margin-vr(1);

    > .upper-column, .bottom-column {
      @include full;
      > .canvas-column:last-child { @include last; }
    }

    // coluna superior do canvas
    .upper-column {
      height: 70%;
      > .canvas-column { @include span(2) }

    }

    // coluna inferior do canvas
    .bottom-column {
      height: 30%;
      > .canvas-column { @include span(5) }
    }

    .canvas-element {

      h1 {
        @include vertical-rhythm($scale: 2);
      }

      .canvas-body-element { overflow: auto; }

      .post-it {   @include apply-post-it }
    }
  }

  button { @include apply-button; }
}
