///
// Componente Business Model Canvas define os estilos que deine um painel
// de modelo de negócios
//
//
///

$bg-color: get-color('background');
$radius: 5px;
$columns: 10;

@include type-setting;

@include with-layout ($columns 1/16 split) {
  .business-model-canvas {
    @include container;
    @include adjust-font-size;
    @include padding-vr(.5);
    background: $bg-color;
    height: 100%;
    width: 100%;

    > .upper-column, .bottom-column {
      @include full;
      > .canvas-column { height: 100%; }
    }

    // coluna superior do canvas
    .upper-column {
      margin-bottom: gutter(3);
      height: 70% - gutter(3);

      > .canvas-column {
        @include span(2);

        // bloco do canvas com blocos aninhados (colunas 2 e 4 do topo superior)
        > .canvas-element {
          height: 50%;

          &:first-child {
            margin-bottom: gutter(1);
            height: 50% - gutter(2);
          }

        }
      }

    }

    // coluna inferior do canvas
    .bottom-column {
      height: 30%;
      > .canvas-column {
        @include span(5);
      }
    }

    .canvas-element {
      background: get-color('foreground');
      border-radius: $radius;
      @include padding-vr(0 1/4);
      overflow: auto;

      &:hover {
        background: get-color('foreground', $level: .4);
        cursor: pointer;
      }

      h1 {
        @include adjust-font-size();
        @include margin-vr(.5 0);
        margin-right: line-rhythm(1);
        position: relative;

        @media (min-width: get-breakpoint(alpha)) { @include adjust-font-size(ms(1)); }

        // ícones do cabeçalho
        .fas {
          @include adjust-font-size();
          position: absolute;
          top: 0;
          right: -(line-rhythm(1));
        }
      }

      .post-it {   @include apply-post-it }
    }
  }
}
