/**
  * Arquivo de boot da arquitetura SASS
  *
  * Toda a arquitetura do projeto sass começa por esse arquivo. Sua função
  * consiste em importar os frameworks e bibliotecas necessários para o
  * desenvolvimento do projeto e também realiza qualquer configuração necessária
  * além de importar a arquitetura do projeto
  *
  */


  // importa reinicialização de css da api YUI do yahoo
@import 'http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css';


// importa frameworks e bibliotecas que o projeto depende
@import '/Users/pleiva/node_modules/susy/sass/susy';

// configuração do susy
$susy: (
  columns: 16,
  gutters: .5,
  global-box-sizing: border-box,
  debug: (
    image: 'show',
    output: overlay,
  ),

  use-custom: (
    background-image: true,
    clearfix: true
  )
);

// toolkit css para ícones, veja mais em @link http://fontawesome.io
// @import 'font-awesome-sprockets', 'font-awesome';

// importa arquitetura sass do projeto
@import 'vendors/module',
        'base/module',
        'utils/module',
        'components/module',
        'themes/module',
        'layout/module',
        'pages/module';
